@import "./style/styleBureau.css";
@import "./style/styleMobile.css";

body, html{
  height: 100%;
  background-color: rgb(83, 61, 105);
}

body::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent     /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.452);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
 /* border: 3px solid orange;  /* creates padding around scroll thumb */
}


a{
  text-decoration: none;
  color: unset
}

.App {

  text-align: center;
  position: fixed;
  width: 100%;
}

#root{
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
overflow-y: hidden;
height: auto;
min-height: 100%;
}

button{
cursor: pointer;
}